[Unit]
Description=Batttracker Backend
After=network.target

[Service]
User=chris
WorkingDirectory=/opt/batttracker-flask-app
ExecStart=/opt/batttracker-flask-app/.venv/bin/python app/main.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
